
<div class="front-page" id="home">
  <div class="container">
    <div class="row">
      <div class="col-xs-1 col-sm-1 col-md-2 col-lg-3">
      </div>
      <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6 text-center hello-text">
        <div class="front-page-content1">
          <span class="title">Hi, <span class="im">I'm</span> <span >Eugene Yu</span></span><br>
        </div>
        <div class="front-page-content2">
          <span class="summary quotes">Full-stack web developer</span>
<!--          <span class="summary quotes">A back-end web developer</span><span class="summary quotes">A software developer</span><br><br>-->
        </div>
        <br/>
        <div class="front-page-content3">
          <a href="#about">
            <div class="white-button center-block">
              READ MORE
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
<!--about me strip-->
<div class="about-me-strip" id="about">
  <div class="container reveal">
    <div class="title text-center">
      Welcome to my personal webpage!
    </div>
    <div class="sub-title text-center">
      Here's a little background about myself.
    </div>
  </div>

</div>
<div class = "clear"></div>
<!--the blurb about me-->
<div class = "about-me">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <%= image_tag("profile-pic.jpg", :class => 'center', :size => '340x525') %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
        After graduating with a degree in Mechanical Engineering from Carnegie Mellon University,
        I worked as an assistant product manager at a BEA sensors for a year. I helped manage a few door sensor products but
        I never felt fulfilled in my work.
        <br/><br/>
        This was when I started thinking back to my Carnegie Mellon days where
        I did really well in an advanced level C++ course and was then asked to be the TA for the next semester. I remembered how
        engaging, challenging, and satisfying coding was and regretted not choosing software as my career path! During my last
        three months at work, I self studied HTML/CSS/JS for web development and data structures/algorithms in python. I quit
        my job so that I could study and prepare myself to enter into software development full-time.
        <br/><br/>
        I am proud of myself for being a 100% self-taught aspiring software engineer. I have also self-taught
        myself how to play guitar by ear, and am a self-taught piano player by ear as well. Outside of coding, I like
        spending time with the love of my life Rachel and like to work out at the gym.
      </div>
    </div>

  </div>

</div>

<div class="clear"></div>
<div class="education-experience-skills" id="summary">
  <div class="container">
    <div class="row is-flex">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
        <div class="box">
          <h4><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;Education</h4>
          <div class="line"></div>
          2010 - 2014
          <br><strong>Rice University</strong>
          <br>Bachelor of Science Bioengineering and Business minor
          <br>
          <br>2016 - 2017
          <br><strong>Carnegie Mellon University</strong>
          <br>Master of Science Mechanical Engineering
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
        <div class="box">
          <h4><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Experience</h4>
          <div class="line"></div>
          2017 - 2018
          <br><strong>BEA Sensors Americas</strong>
          <br><span class="">Assistant Product Manager</span>
          <br>
          <br>
          <br> 2018
          <br><strong>Oak Atlantic</strong>
          <br><span class="">Junior Ruby on Rails Developer</span>
          <br>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
        <div class="box">
          <h4><i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;Skills</h4>
          <div class="line"></div>
          <h1>
            <div class="skill-icons">
              <i class="devicon-html5-plain-wordmark colored"></i>
              <i class="devicon-css3-plain-wordmark colored"></i>
              <i class="devicon-bootstrap-plain-wordmark colored"></i><br>
              <i class="devicon-sass-original colored"></i>
              <i class="devicon-ruby-plain-wordmark colored"></i>
              <i class="devicon-rails-plain-wordmark colored"></i><br>
              <i class="devicon-javascript-plain colored"></i>
              <i class="devicon-jquery-plain-wordmark colored"></i>
              <i class="devicon-python-plain colored"></i><br/>
            </div>
          </h1>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-strip text-center" id="projects">
  <div class="container reveal">
    Projects
    <div class="line"></div>
  </div>
</div>







<!-- Smooth scrolling -->
<script type="text/javascript">
    var scroll = new SmoothScroll('a[href*="#"]');
</script>


