
<div class="front-page" id="home">
  <div class="container">
    <div class="row">
      <div class="hidden-xs col-sm-1 col-md-2 col-lg-3">
      </div>
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 text-center hello-text">
        <div class="front-page-content1">
          <span class="title">Hi, <span class="im">I'm</span> <span >Eugene Yu</span></span><br>
        </div>
        <div class="front-page-content2">
          <span class="summary quotes">Full-stack web developer</span>
          <span class="summary quotes">A back-end web developer</span><span class="summary quotes">A software developer</span><br><br>
        </div>
        <br/>
        <div class="front-page-content3">
          <a href="#about">
            <div class="white-button center-block">
              READ MORE
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
about me strip
<div class="about-me-strip" id="about">
  <div class="container reveal">
    <div class="title text-center">
      Welcome to my personal webpage!
    </div>
    <div class="sub-title text-center">
      Here's a little background about myself.
    </div>
  </div>

</div>
<div class = "clear"></div>
the blurb about me
<div class = "about-me">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <%= image_tag("profile-pic.jpg", :class => 'center', :size => '340x525') %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
        After graduating with a degree in Mechanical Engineering from Carnegie Mellon University,
        I worked as an assistant product manager at a BEA sensors for a year. I helped manage a few door sensor products but
        I never felt fulfilled in my work.
        <br/><br/>
        This was when I started thinking back to my Carnegie Mellon days where
        I did really well in an advanced level C++ course and was then asked to be the TA for the next semester. I remembered how
        engaging, challenging, and satisfying coding was and regretted not choosing software as my career path! During my last
        three months at work, I self studied HTML/CSS/JS for web development and data structures/algorithms in python. I quit
        my job so that I could study and prepare myself to enter into software development full-time.
        <br/><br/>
        I am proud of myself for being a 100% self-taught aspiring software engineer. I have also self-taught
        myself how to play guitar by ear, and am a self-taught piano player by ear as well. Outside of coding, I like
        spending time with the love of my life Rachel and like to work out at the gym.
      </div>
    </div>

  </div>

</div>

<div class="clear"></div>
<div class="education-experience-skills" id="summary">
  <div class="container">
    <div class="row is-flex">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
        <div class="box">
          <h4><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;Education</h4>
          <div class="line"></div>
          2010 - 2014
          <br><strong>Rice University</strong>
          <br>Bachelor of Science Bioengineering and Business minor
          <br>
          <br>2016 - 2017
          <br><strong>Carnegie Mellon University</strong>
          <br>Master of Science Mechanical Engineering
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
        <div class="box">
          <h4><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Experience</h4>
          <div class="line"></div>
          2017 - 2018
          <br><strong>BEA Sensors Americas</strong>
          <br><span class="">Assistant Product Manager</span>
          <br>
          <br>
          <br> 2018
          <br><strong>Oak Atlantic</strong>
          <br><span class="">Junior Ruby on Rails Developer</span>
          <br>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
        <div class="box">
          <h4><i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;Skills</h4>
          <div class="line"></div>
          <h1>
            <div class="skill-icons">
              <i class="devicon-html5-plain-wordmark colored"></i>
              <i class="devicon-css3-plain-wordmark colored"></i>
              <i class="devicon-bootstrap-plain-wordmark colored"></i><br>
              <i class="devicon-cplusplus-plain colored"></i>
              <i class="devicon-ruby-plain-wordmark colored"></i>
              <i class="devicon-rails-plain-wordmark colored"></i><br>
              <i class="devicon-javascript-plain colored"></i>
              <i class="devicon-jquery-plain-wordmark colored"></i>
              <i class="devicon-python-plain colored"></i><br/>
            </div>
          </h1>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-strip text-center" id="projects">
  <div class="container reveal">
    Projects
    <div class="line"></div>
  </div>
</div>

<div class="portfolio text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 grid" id="portfolio-5">
        <div class="portfolio-contents" onclick="window.open('https://www.youtube.com/watch?v=rEsKZhMeWJo');" style="cursor:pointer;">
              <span>
                <span class="title">Muscle Maximus</span><br>
                <div class="line"></div>
                <span class="summary">HP/Intel nationwide 2017 product design competition, our project won the Grand final prize of $7500</span>
              </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 grid" id="portfolio-1">
        <div class="portfolio-contents" onclick="window.open('https://github.com/eugenius123/rails_personal_page');" style="cursor:pointer;">
              <span>
                <span class="title">Portfolio Website</span><br>
                <div class="line"></div>
                <span class="summary">My personal portfolio website</span>
              </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 grid" id="portfolio-2">
        <div class="portfolio-contents" onclick="window.open('https://flixter-eugene-yu.herokuapp.com/');" style="cursor:pointer;">
              <span>
                <span class="title">Flixster</span><br>
                <div class="line"></div>
                <span class="summary">Udemy clone build using rails with video upload and hosting capability</span>
              </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 grid" id="portfolio-3">
        <div class="portfolio-contents" onclick="window.open('https://nomster-eugene-yu.herokuapp.com/');" style="cursor:pointer;">
              <span>
                <span class="title">Nomster</span><br>
                <div class="line"></div>
                <span class="summary">Yelp clone with Google maps integration and commenting</span>
              </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 grid" id="portfolio-4">
        <div class="portfolio-contents" onclick="window.open('https://todoster-eugene-yu.herokuapp.com/');" style="cursor:pointer;">
              <span>
                <span class="title">Todoster</span><br>
                <div class="line"></div>
                <span class="summary">A simple todo list built using jQuery</span>
              </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 grid" id="portfolio-6">
        <div class="portfolio-contents" onclick="window.open('http://grammable-eugene-yu.herokuapp.com/');" style="cursor:pointer;">
              <span>
                <span class="title">Grammable</span><br>
                <div class="line"></div>
                <span class="summary">Instagram clone with simple photo upload and commenting capabilities</span>
              </span>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="contact-me text-center" id="contact-me">
  <div class="container">
    <h3>Contact</h3>
    <div class="row">
      <div class="hidden-xs col-sm-2 col-md-4 col-lg-4"></div>
      <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4 text-center">
        <div class="line"></div><br>
        <a href="https://www.linkedin.com/in/eugene-m-yu/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>&nbsp;
        <a href="https://github.com/eugenius123" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>&nbsp;
        <a href="https://www.facebook.com/Eugenius123" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <br><br>
      </div>
      <div class="hidden-xs col-sm-3 col-md-4 col-lg-4"></div>


    </div>
    <span class="copyright">&copy; 2018 Eugene Yu</span>

  </div>
</div>



 Smooth scrolling
<script type="text/javascript">
    var scroll = new SmoothScroll('a[href*="#"]');
</script>


